<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>

  <nav>
    <a href="/">Home</a>
    <a href="/fruits">All Fruits</a>
    <a href="/fruits/new">Add Fruit</a>
  </nav>

  <h1>Fruits Index Page</h1>

  <ul>
    
    <% for (let i = 0; i < fruits.length; i++) { %>
      <li style="margin-bottom: 20px;">
        <a href="/fruits/<%= fruits[i]._id %>">
          <%= fruits[i].name %>
        </a>    
      </li>
    <% } %>

  </ul>

</body>
</html>
