<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <!-- fruit = {name: 'apple', color: 'red'} -->
  <h1>Show Fruit</h1>

  <!-- Rendering Tag -->
  <%= %>

  <h4><strong>Fruit:</strong> <%= fruit.name %></h4>

  <p><strong>Color:</strong> <%= fruit.color %></p>

  <% if (fruit.readyToEat) { %>
    <p>This fruit is ready to eat</p>
  <% } else { %>
    <p>This fruit is not ready to eat</p>
  <% } %>
  

  <!-- Non-Rendering Tag -->
  <% if (true) '<p>Hello</p>' %>
</body>
</html>
